#header-container {
    display: inline-block;
    margin-top: 23px;
}
#logo-img {
    width: 150px;
    height: 25px;
    vertical-align: sub;
    padding-left: 30px;
}
.header-text{
    
        display: inline-block;
        font-family: 'Gotham 5r',Helvetica,Arial,sans-serif;
        font-size: 20px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: -0.71px;
        color: #444;
    }
    .return-to-cart{
        background-color: #fff;
        width: 100%;
        border: 1px solid #ccc;
        position: fixed;
        top: 72px;
        padding-top: 10px;
        padding-bottom: 10px;
        z-index: 9998; 
    }
    .return-to-cart-arrow{
        width: 24px;
            padding-left: 18px;
            vertical-align: sub;
         
    }
    .arrow-img{
        width: 24px;
    }
    .return-to-cart-text {
        width: 80%;
        font-family: 'Gotham 5r',Helvetica,Arial,sans-serif;
        font-size: 15px;
        letter-spacing: -0.36px;
        color: #454545;
        vertical-align: text-top;
        padding-left: 5px;
    }