.main{
    width: 95%;
    margin: auto;
    height: 410px;
    border: 2px solid black;
 }
 .sephora-holiday-img{
   width: 100%;
  }
  .holiday-img{
      width: 100%;
  }
  .main2{
      display: flex;
      
  }
  .left{
      width: 65%;
      
  }
  .holiday-main{
     border-right: 1x solid #000;
     width: 68%;
     font-weight: 800;
     text-decoration: none;
     color: black;
     font-size: 50px;
     padding-left: 20px;
 
 }
 .holiday-saving-event{
     padding-left: 20px;
     text-decoration: none;
     font-size: 49px;
     color: black;
 }
 .beauty-insider{
    padding-left: 20px;
    text-decoration: none;
    color: black;
    font-size: 30px;
 
 }
 .last-div{
    
     width: 935px;
     display: flex;
 }
 .left-text{
     width: 360px;
     
 }
 .use-code{
    margin-left: 20px;
     color: black;
     font-weight: 600;
     font-size: 24px;
     text-decoration: none;
    
     }
     .apply-text{
         margin-left: 20px;
         font-size: 20px; 
           
     }
     .shop-now{
         margin-left: 20px;
         color: black;
         font-size: 24px;
         line-height: 40px;
         font-weight: 700;
     }
     .right-img{
      width: 539px;
      margin-left: 30px;
      display: flex;
     
     }
     .offer-img{
         height: 160px;
         margin-left: 15px;
     }
   .right{
       width: 35%;
       margin-left: 30px;
       text-align: center;
       padding-top: 40px;
       border-left: solid 1px black;
   }
   .right-text{
     font-size: 30px;
   }
   .right-text2{
    margin-top: 20px;
    font-size: 30px;
    font-weight: 600;  
   }
   .sign-up-text{
    line-height: 1.5;
    font-variant: proportional-width;
    text-decoration: none;  
    color: black; 
}
.join-now-text{
    margin-left: 20px;
    color: black;
    font-size: 24px;
    line-height: 40px;
    font-weight: 700;
   
}
       
 