.main-div{
width:74%;
margin: auto;
display: flex;
justify-content: space-between;
}
.left-col {
    width: 32%;
}
.left-col img{
   width: 356px;
   height: 485px;

}
.middle-col{
    width: 32%;
}
.middle-col img{
   width: 356px;
}
.right-col{
    width: 32%;
}
.right-col img{
    width: 356px;
}
