.main-div{
width:74%;
margin: auto;
display: flex;

justify-content: space-between;
}
.left-col {
    width: 32%;
}
.left-col img{
   width: 350px;
   height: 475px;

}
.middle-col{
    width: 32%;
}
.middle-col img{
   width: 350px;
}
.right-col{
    width: 32%;
}
.right-col img{
    width: 350px;
}
.off-text{
   font-size: 40px;
}
.load-up-text{
    font-size: 25px;
    font-family: sans-serif;
}