.main-div{
    width: 90%;
    margin: auto;
    display: flex;
}

.div3{
    display:flex;
}
.left-col{
 margin-left: 25px;
}
.outdoor-img{
    margin-bottom: 25px;
}
.work-img{
    margin-bottom: 25px;
}