body{
    background-color: #f5f5f5;
    margin: auto;
    padding: auto;
}
.checkout-header{
  background-color: #ffffff;
  width:100%;
  height: 72px;
  text-align: center;
}

.kohls-logo {
width: 96px;
height: 15px;
margin: 0 auto;
padding-top: 24px;
}
.smart-cart-screen-empty-cart {
  padding-top: 80px;
  margin: 0 auto;
  width: 1024px;
 
}
.smart-cart-screen-block {
  display: grid;
  grid-template-columns: 1fr 17px 1fr;
  grid-template-rows: auto;
}
.empty-cart-left-col {
  width: 582px;
  height: 128px;
  border-radius: 8px;
  border: solid 1px#eee;
  background-color: #fff;
  margin: 0 auto;
  text-align: center;
  line-height: 9;
  margin-bottom: 16px;
}
.empty-cart-text {
  width: 241px;
  height: 32px;
  font-family: 'Gotham 4r',Helvetica,Arial,sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.23;
  letter-spacing: normal;
  color: #444;
  display: inline-block;
  text-align: center;
}
.empty-cart-right-col {
  width: 422px;
  height: 128px;
  border-radius: 8px;
  border: solid 1px#eee;
  background-color: #fff;
  margin: 0 auto;
  text-align: center;
  line-height: 8.1;
  margin-bottom: 16px;
}
.start-shopping-btn-block {
  margin: 0 auto;
}
.start-shopping-btn {
  width: 288px;
  height: 48px;
  border-radius: 4px;
  background-color: #208033;
  font-family: 'Gotham 5r',Helvetica,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: 0.5px;
  text-align: center;
  color: #fff;
  padding: 15px 38.4px;
  text-decoration: none;
  text-transform: uppercase;
}


/* additempage */

.continue-shopping-container {
  background-color: #fff;
  width: 100%;
  border-bottom: 1px solid #ccc;
  position: fixed;
  top: 72px;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 9998;
  display: block;
}
.continue-shopping-arrow {
  width: 14px;
  padding-left: 18px;
  vertical-align: sub;
}
.continue-shopping-text {
  width: 80%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  letter-spacing: -0.36px;
  color: #454545;
  vertical-align: text-top;
  padding-left: 5px;
  font-weight: 600;
}
a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: none;
}
/* next division */
.smart-cart-screen {
  margin: 0 auto;
  width: 1024px;
  padding-top: 120px;
}
.action-panel-block-dactive {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 10;
  width: 1024px;
  background-color: #d5edef;
  display: grid;
  grid-template-columns: 1fr 320px 1fr;
  grid-template-rows: 80px auto 24px;
}
.action-panel-block-dactive-free-shipping {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  text-align: left;
  line-height: 10px;
  display: flex;
  padding-top: 20px;
  justify-self: center;
  margin-right: 800px;
  width: 224px;
}
.action-panel-block-dactive-free-shipping .free-shipping-icon-img {
  vertical-align: middle;
  padding-left: 20px;
}